.crypto-news {
  min-width: 35%;
  height: fit-content;
  // overflow: scroll;
  // position: sticky;
  top: 9rem;
  margin-left: 20px;
}

.rightcolumn {
  margin-top: 30px;
  height: 75vh;
  justify-content: center;
  overflow: hidden;

  // margin-right:40px;
}

.news-img-main {
  width: 100%;
}

.news-img {
  height: 200px;
  max-height: 200px;
  width: 365px;
  max-width: 365px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
}

// .news {
//   padding-top: 10px;
//   padding-bottom: 2px;
//   padding-left: 5px;
//   font-size: small;
//   // background-color: white;
//   h2 {
//     position: sticky;
//     top: 0px;
//     background-color: #ffffff;
//     height: 3rem;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     color: #005edd;
//     font-size: 1rem;
//   }
// }

.apidata {
  background-color: white;
  padding: 10px;
  color: blue;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 8px 12px;
  margin: 10px;
  border-radius: 10px;
}
p:hover {
  color: black;
}
a:hover {
  color: black;
}
